*{
    margin: 0;
    padding: 0;
    block-size: border-box;
    color: #A28068;
    font-family: 'Zen Old Mincho', serif;
    font-weight: normal;
}

#firstview{
    background-image: url(images/pc_background.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}

nav{
    font-family: 'Gideon Roman', cursive;
    letter-spacing: -0.05em;
    display: flex;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    top: 67%;
    left: 5%;
}

nav:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -46px;
    display: inline-block;
    width: 680px;
    height: 2px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color:#A28068 ;
  }

nav ul{
    display: flex;
}

nav li{
    list-style: none;
    padding: 0 15px;
}

nav a{
    display: inline-block;
    text-decoration: none;
}


.first-text{
    text-align: center;
}

#firstview h1{
    text-align: left;
    font-family: 'Gideon Roman';
    letter-spacing: -0.1em;
    font-size: 20vw;
    display: flex;
    justify-content: center;
}



#firstview p{
    font-size: 25px;
    max-width: 310px;
    text-wrap: wrap;
    font-family: 'Gideon Roman', cursive;
    letter-spacing: -0.05em;
    text-align: left;
    position: absolute;
    right: 6%;
    bottom: 18%;
}

span {
    font-family: 'Gideon Roman', cursive;
    display: block;
    content: "";
    padding: 10px 0px;
}



@media (max-width: 428px){
    #firstview{
        background-image: url(images/SP_background.png);
        min-width: 390px;
        min-height: 844px;
    }

    nav{
        display: none;
    }

    
    .first-text{
        min-width: 390px;
        min-height: 844px;
        position: relative;
    }

    #firstview h1{
        position: absolute;
        bottom: 60%;
        left: -30%;
        font-size: 80px;
        text-align: left;
        transform: rotate(-90deg)
    }

    br{
        display: none;
    }

    #firstview p{
        font-size: 20px;
        right: 6%;
        bottom: 18%;
    }


}

#history{
    text-align: center;
    width: 100%;
    background-color: #1E1E1E;
    background-size: cover;
    height: 900px;
    padding: 130px 0px;
    z-index: -1;
    position: relative;
}

.pc{
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block !important;
}

.sp{
    display: none !important;
}

.history-text{
    z-index: 1;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
 }
 
#history h2{
    font-size: 40px;
    font-family: 'Gideon Roman', cursive;
    letter-spacing: -0.05em;
    margin: 48px;
    
}

#history p{
    color: #F1EBE7;
    font-size: 16px;
    text-align: left;
    line-height: 2;
    max-width: 600px;
    text-wrap: wrap;
    margin: 0 auto;
}

#history br{
    margin: 20px;
    display: block;
    content: "";
}

@media (max-width: 1024px){

    #history{
        padding: 130px 0px;
        height: 844px;
    }

    .pc {display: none !important;}
    .sp{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: block !important;
    }

    .history-text{
        top: 50%;
        left: 50%;
        min-width: 300px;
    }

    #history h2{
        font-size: 20px;
        margin: 0px;
    }

   
    #history p {
        margin-top: 16px;
        font-size: 12px;
        max-width: 300px;
        
    }

    #history br{
        margin: 10px;
        display: block;
        content: "";
    }

}


.wrap{
    width: 100%;
    height: 1612px;
    position: relative;
    z-index: 1;
}

canvas{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 0;
}

#signs{
    background-color: #1E1E1E;
}

.buttons{
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    min-width: 252px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1407px;
}

.button{
    background-color: #B19D8E;
    opacity: 70%;
    width: 232px;
    height: 232px;
    border-radius: 50%;
    text-align: center;
    margin: 60px;
    position: relative;
}

.button::before,
.button::after {
  content: ''; /* 擬似要素を生成 */
  position: absolute; /* 位置を絶対的に設定 */
  border-radius: 50%; /* 円形の要素に合わせて50%の丸みを設定 */
}

.button::before {
  top: 50%; /* 内側の1つ目の枠線の位置を調整 */
  left: 50%; /* 内側の1つ目の枠線の位置を調整 */
  transform: translate(-50%,-50%);
  border: 2px solid #333; /* 1つ目の枠線のスタイルと色を設定 */
  width: 75%; /* 擬似要素の幅を100%に設定 */
  height: 75%; /* 擬似要素の高さを100%に設定 */
}

.button::after {
  top: 50%; /* 内側の2つ目の枠線の位置を調整 */
  left: 50%; /* 内側の2つ目の枠線の位置を調整 */
  transform: translate(-50%,-50%);
  border: 2px dotted #333; /* 2つ目の枠線のスタイルを点線に設定 */
  width: 80%; /* 擬似要素の幅を100%に設定 */
  height: 80%; /* 擬似要素の高さを100%に設定 */
}

.button:hover{
    background-color: #B19D8E;
    opacity: 100%;
}

.button img{
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.button p{
    color: #333;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}


#signs h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Gideon Roman', cursive;
    letter-spacing: -0.05em;
    margin-bottom: 48px;
}

/*以下モーダルの中身*/

.modaal-container{
    width: 502px;
    height: 632px;
    background-color: #1E1E1E;
}

.modaal-content-container{
    padding: 0;
}

.top{
    background-color: #F1EBE7;
    border-bottom-left-radius: 80px;
    height: 242px;
    display: flex;
    position: relative;
}

.top h3{
    font-size: 60px;
    font-family: 'Gideon Roman', cursive;
    letter-spacing: -0.05em;
    color: #333;
    margin: 47px 0px 0px 58px;
}

audio{
    width: 150px;
    height: 30px;
    position: absolute;
    left: 25%;
    bottom: 40%;
}

.top-text{
    position: relative;
}

.top p{
    font-size: 20px;
    color: #333;
    margin-left: 58px;
    line-height: 80px;
}

.top-text span{
    font-family: 'Gideon Roman', cursive;
    letter-spacing: -0.05em;
    color: #333;
    position: absolute;
    bottom: 0%;
}

.top .kira-box{
    position: absolute;
    right: 10%;
    top: 10%;
}

.kira-box img{
    width: 56px;
    height: 57px;
}

.ohi-box{
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: 222px;
    height: 142px;
}

.ohi-box img{
    width: 222px;
    height: 142px;
}

.ou-box{
    position: absolute;
    right: 10%;
    bottom: 2%;
}

.ou-box img{
    width: 196px;
    height: 161px;
}

.futa-box{
    position: absolute;
    right: 5%;
    bottom: 0%;
}

.futa-box img{
    width: 221px;
    height: 156px;
}

.kani-box{
    position: absolute;
    right: 10%;
    bottom: 0%;
}

.kani-box img{
    width: 158px;
    height: 149px;
}

.shishi-box{
    position: absolute;
    right: 10%;
    bottom: 0%;
}

.shishi-box img{
    width: 214px;
    height: 177px;
}

.oto-box{
    position: absolute;
    right: 10%;
    bottom: 3%;
}

.oto-box img{
    width: 188px;
    height: 124px;
}

.ten-box{
    position: absolute;
    right: 5%;
    bottom: 0%;
}

.ten-box img{
    width: 249px;
    height: 152px;
}

.saso-box{
    position: absolute;
    right: 10%;
    bottom: 0%;
}

.saso-box img{
    width: 132px;
    height: 153px;
}


.ite-box{
    position: absolute;
    right: 10%;
    bottom: 0%;
}

.ite-box img{
    width: 132px;
    height: 153px;
}


.yagi-box{
    position: absolute;
    right: 5%;
    bottom: 0%;
}

.yagi-box img{
    width: 137px;
    height: 149px;
}

.mizu-box{
    position: absolute;
    right: 10%;
    bottom: 0%;
}

.mizu-box img{
    width: 192px;
    height: 157px;
}

.uo-box{
    position: absolute;
    right: 10%;
    bottom: 0%;
}

.uo-box img{
    width: 192px;
    height: 159px;
}


.bottom{
    padding: 0 57px;
}

.bottom h4{
    font-size: 16px;
    color: #F1EBE7;
    margin-top: 46px;
}

hr{
    border: none;
    border-bottom: 1px solid #A28068;
    margin: 20px 0;
}

.bottom p{
    color: #F1EBE7;
}

@media (max-width: 1024px){
    .wrap{
        height: 1300px;
    }
    
    #signs h2{
        font-size: 20px;
    }

    .buttons{
        align-items: center;
        margin: 0 auto;
        max-width: 542px;
    }


    .button {
        width: 161px;
        height: 161px;
        margin: 10px;
        background-color: #C6B7AD;
    }
    
    .button img{
        width: 45px;
        height: 54px;
    }
    
    .button p{
        font-size: 15px;
    }


    
    .button::before {
      width: 80%; /* 擬似要素の幅を100%に設定 */
      height: 80%; /* 擬似要素の高さを100%に設定 */
    }
    
    .button::after {
      width: 85%; /* 擬似要素の幅を100%に設定 */
      height: 85%; /* 擬似要素の高さを100%に設定 */
    }

    /*以下モダール*/

    .modaal-container{
        width: 299px;
        height: 469px;
        background-color: #1E1E1E;
    }
    

    .top{
        height: 152px;
    }
    
    .top h3{
        font-size: 30px;
        margin: 25px 0px 0px 45px;
    }

    
    audio{
        width: 100px;
        height: 30px;
        position: absolute;
        left: 25%;
        bottom: 40%;
    }
    
    .top p{
        font-size: 15px;
        margin-left: 45px;
        line-height: 80px;
    }

        
    .top-text span{
        position: absolute;
        top: 50%;
    }
    
    .top .kira-box{
        position: absolute;
        right: 10%;
        bottom: 0%; 
    }
    
    .bottom{
        padding: 0 25px;
    }
    
    .bottom h4{
        font-size: 15px;
        color: #F1EBE7;
        margin-top: 33px;
    }
    
    hr{
        border: none;
        border-bottom: 1px solid #A28068;
        margin: 10px 0;
    }
    
    .bottom p{
        color: #F1EBE7;
        font-size: 12px;
    }
    

    .kira-box img{
        width: 28px;
        height: 26px;
    }
    
    .ohi-box{
        position: absolute;
        right: 10%;
        bottom: 10%;
        width: 131px;
        height: 76px;
    }
    
    .ohi-box img{
        width: 131px;
        height: 76px;
    }
    
    .ou-box{
        position: absolute;
        right: 0%;
        bottom: 2%;
    }
    
    .ou-box img{
        width: 106px;
        height: 89px;
    }
    
    .futa-box{
        position: absolute;
        right: 5%;
        bottom: 0%;
    }
    
    .futa-box img{
        width: 110px;
        height: 78px;
    }
    
    .kani-box{
        position: absolute;
        right: 10%;
        bottom: 0%;
    }
    
    .kani-box img{
        width: 105px;
        height: 99px;
    }
    
    .shishi-box{
        position: absolute;
        right: 10%;
        bottom: 0%;
    }
    
    .shishi-box img{
        width: 109px;
        height: 90px;
    }
    
    .oto-box{
        position: absolute;
        right: 10%;
        bottom: 3%;
    }
    
    .oto-box img{
        width: 134px;
        height: 88px;
    }
    
    .ite-box{
        position: absolute;
        right: 10%;
        bottom: 0%;
    }
    
    .ite-box img{
        width: 109x;
        height: 91px;
    }
    
    
    .yagi-box{
        position: absolute;
        right: 5%;
        bottom: 0%;
    }
    
    .yagi-box img{
        width: 91px;
        height: 99px;
    }
    

    .ten-box{
        position: absolute;
        right: 5%;
        bottom: 0%;
    }
    
    .ten-box img{
        width: 145px;
        height: 89px;
    }
    
    .saso-box{
        position: absolute;
        right: 10%;
        bottom: 0%;
    }
    
    .saso-box img{
        width: 112px;
        height: 103px;
    }
    
    
    .mizu-box{
        position: absolute;
        right: 10%;
        bottom: 0%;
    }
    
    .mizu-box img{
        width: 130px;
        height: 106px;
    }
    
    .uo-box{
        position: absolute;
        right: 10%;
        bottom: 0%;
    }
    
    .uo-box img{
        width: 128px;
        height: 106px;
    }    
    
}

#conversation{
    background-color: #1E1E1E;
    height: 500px;
    position: relative;
}

.cloud-top{
    position: absolute;
    top: 50%;
    right: 10%;
}

.cloud-bottom{
    width: 272.01px;
    height: 273px;
    position: absolute;
    top: 10%;
    left: 8%;
}

#conversation h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Gideon Roman', cursive;
    letter-spacing: -0.05em;
    margin-bottom: 48px;
    padding-top: 160px;
}

.conversation-text p{
    color: #F1EBE7;
    font-size: 16px;
    text-align: left;
    line-height: 2;
    text-wrap: wrap;
    margin: 0 auto;
    max-width: 704px;
}

.speech-bubbles{
    max-width: 704px;
    position: relative;
    height: 220px;
    margin: 0 auto;
    max-width: 800px;
}

.speech-bubbles p{
    color: #A28068;
    border: 2px solid #A28068;
    border-radius: 20px;
    font-size: 26px;
    padding: 10px 30px;
}


.ask{
    position: absolute;
    top: 20%;
    left: 0%;
}


.ask:before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -16px;
    border: 13px solid transparent;
    border-top: 13px solid #1E1E1E;
    z-index: 2;
  }

.ask:after {
    content: "";
    position: absolute;
    bottom: -29px;
    left: 50%;
    margin-left: -17px;
    border: 14px solid transparent;
    border-top: 14px solid #A28068;
    z-index: 1;
  }

.answer{
    position: absolute;
    bottom: 20%;
    right: 5%;
}

.answer:before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -16px;
    border: 13px solid transparent;
    border-top: 13px solid #1E1E1E;
    z-index: 2;
  }

.answer:after {
    content: "";
    position: absolute;
    bottom: -29px;
    left: 50%;
    margin-left: -17px;
    border: 14px solid transparent;
    border-top: 14px solid #A28068;
    z-index: 1;
  }

  @media (max-width: 1024px){
    #conversation{
        height: 500px;
    }
    
    .cloud-top{
       display: none;
    }
    
    .cloud-bottom{
       display: none;
    }
    
    #conversation h2{
        font-size: 20px;
        margin-bottom: 42px;
        padding-top: 61px;
    }
    
    .conversation-text p{
        font-size: 12px;
        max-width: 292px;
    }
    
    .speech-bubbles{
        max-width: 704px;
        position: relative;
        height: 220px;
        margin: 0 auto;
        max-width: 292px;
    }
    
    .speech-bubbles p{
        font-size: 12px;
    }
  
  }

  @media (max-width: 768px){
    #conversation{
        height: 500px;
    }
    
    .cloud-top{
       display: none;
    }
    
    .cloud-bottom{
       display: none;
    }
    
    #conversation h2{
        font-size: 20px;
        margin-bottom: 42px;
        padding-top: 61px;
    }
    
    .conversation-text p{
        font-size: 12px;
        max-width: 292px;
    }
    
    .speech-bubbles{
        max-width: 704px;
        position: relative;
        height: 220px;
        margin: 0 auto;
        max-width: 292px;
    }
    
    .speech-bubbles p{
        font-size: 12px;
    }
  
  }

#contact{
    background-color: #1E1E1E;
    height: 300px;
    padding: 100px 145px 0px 145px;
}

.contact-box{
    border: 1px solid #A28068;
    padding: 48px 123px 55px 123px;
    display: flex;
    border-radius: 20px;
}

#contact h2{
    font-size: 30px;
    font-family: 'Gideon Roman', cursive;
    letter-spacing: -0.05em;
    display: flex;
    justify-content: flex-start;
}

#contact p{
    color: #F1EBE7;
    font-size: 16px;
    text-align: left;
    line-height: 2;
    text-wrap: wrap;
    margin: 0 auto;
    max-width: 704px;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 130px;
}

.icon{
    padding: 10px;
}

@media (max-width: 1024px){

        #contact{
            height: 300px;
            padding: 25px;
        }
        
        .contact-box{
            border: 1px solid #A28068;
            padding: 10px;
            display: block;
            border-radius: 20px;
        }
        
        #contact h2{
            font-size: 20px;
            justify-content: center;
            margin-top: 22px;
        }
        
        #contact p{
            font-size: 12px;
            text-align: left;
            line-height: 2;
            text-wrap: wrap;
            margin: 39px 0px 0px 26px;
            max-width: 193px;
        }
        
        .icons{
            margin: 0;
            height: 60px;
            justify-content: end;
        }

        .icon{
            padding: 10px;
        }
    }

    @media (max-width: 768px){

        #contact{
            height: 300px;
            padding: 25px;
        }
        
        .contact-box{
            border: 1px solid #A28068;
            padding: 10px;
            display: block;
            border-radius: 20px;
        }
        
        #contact h2{
            font-size: 20px;
            justify-content: center;
            margin-top: 22px;
        }
        
        #contact p{
            font-size: 12px;
            text-align: left;
            line-height: 2;
            text-wrap: wrap;
            margin: 39px 0px 0px 26px;
            max-width: 193px;
        }
        
        .icons{
            margin: 0;
            height: 60px;
            justify-content: end;
        }
    
        .icon{
            padding: 10px;
        }
    }
